<div class="jumbotron">
<div class="row">

    <p>This is to learn myself up to skills of HTML5, angularJS, bootstrap, & responsive design.</p>
    <p>Works well cross-browsers, and on mobile phones.</p>


</div>
<div class="row center-xs middle-xs">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <a class="btn btn-lg btn-block btn-success" ng-href="#!/burger">
      <span class="fa fa-check"></span>Start Playing</a>
  </div>
</div>
</div>
<!--
<div class="jumbotron">
  <h1>
    <strong>Instructions</strong>
  </h1>
  <p class="lead">Please ensure you read and meet the requirements below</p>




</div>

<div class="row marketing">
  <h2><i class="fa fa-picture-o"></i>
    <strong>Asset Use</strong>
  </h2>
  <p class="lead">
    You must use the provided images to visually represent choices for the logic.
  </p>
  <h2><i class="fa fa-expand"></i>
    <strong>Responsive</strong>
  </h2>
  <p class="lead">
    Your design must be responsive.
  </p>

  <h2><i class="fa fa-heart"></i>
    <strong>Own It</strong>
  </h2>
  <p class="lead">
    You are otherwise free to assume creative responsibility and ownership for the test UI/UX, and may modify anything you wish.
  </p>
  <hr />
  <div class="row center-xs middle-xs">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <a class="btn btn-lg btn-block btn-success" ng-href="#/builder">
        <span class="fa fa-check"></span> OK, I'm ready</a>
    </div>
  </div>
</div>
-->
